{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

<div class="text-center">
    <button id="modalActivate" type="button" class="btn btn btn-dark" data-toggle="modal" data-target="#exampleModal">
        <b>Create Thread</b>
    </button>
</div>

<br><br><br><br>
  
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Fill in the fields:</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ form_start(form) }}
          {{ form_row(form.title) }}
          {{ form_row(form.text) }}
          {{ form_row(form.category) }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
          {{ form_row(form.save, { 
            'label': 'Save changes',
            'attr': {'class': 'btn btn-primary btn-sm'} 
          }) }}
          {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>

{% for category in categories %}
<div class="card card-body mb-3">
    <h3 class="black-text"><b>{{ category.title }}</b></h3>
    <br>
    <div class="media d-block d-md-flex">
        <img class="d-flex avatar-2 mb-md-0 mb-3 mx-auto" src="https://cdn.pixabay.com/photo/2016/12/20/22/32/holiday-shopping-1921658_960_720.jpg"
            alt="Generic placeholder image" style="width: 300px">
        <div class="media-body text-center text-md-left ml-md-3 ml-0">
            <p>{{ category.description }}</p>
            <br><br><br>
            <a href="{{ path('posts', {id: category.id}) }}" class="white-text"><button type="button" class="btn btn-primary btn-md float-right"><b>View Threads</b></button></a>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
